<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2">
      <assemblies>
        <remove assembly="*"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".vb"/>
          <remove fileExtension=".cs"/>
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".yaml" mimeType="text/yaml"/>
      <mimeMap fileExtension=".yml" mimeType="text/yaml"/>
      <mimeMap fileExtension=".md" mimeType="text/x-markdown"/>
      <mimeMap fileExtension=".tmpl" mimeType="text/template"/>
      <mimeMap fileExtension=".cs" mimeType="text/plain"/>
      <mimeMap fileExtension=".vb" mimeType="text/plain"/>
    </staticContent>
  </system.webServer>
</configuration>